@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

* {
    scroll-behavior: smooth;
}

body {
    font-family: Cabin;
    background-image: url(img/wave.svg);
    background-size: 1950px;
    background-repeat: no-repeat; 
    background-color: #000000;
   
}

.nav-link{
    font-size: 23px;
    color: white;
}

.nav-item a:hover {
    color: rgb(255, 183, 50);
}

.text-center .p-3 {
    color: white;
}

.mb-4 img {
    width: 30px;
    height: 30px;
}

.mb-4 {
    list-style: none;
    display: inline-flex;
    gap: 15px;

}

.container-hero h1 {
    color: white;
    font-size: 60px;
}

.container-hero h3 {
    color: white;
    font-size: 22px;
    
}

.container-hero{
    margin-top: 200px;
}

hr {
    color: white;
    width: 50%;
    margin: 0 auto;
    
}

.container-sobre h2{
    color: white;
    font-size: 60px;
}

.container-sobre h3 {
    color: white;
    
}

.container-tecnologias h2 {
    color: white;
    font-size: 60px;
}

.container-tecnologias ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 40px;

}

.container-tecnologias img {
    width: 50px;
    height: 50px;
}

.container-projetos h2 {
    color: white;
    font-size: 60px;
}

.container-projetos h3 {
    color: white;
    font-size: 60px;
}

.container-projetos li {
    list-style: none;
    width: 30px;
    height: 100%;
    
}

.projeto {
    background-color: rgb(20, 20, 20);
    color: white;
    border-radius: 10px;
    border-color: white;
}

.stack img {
    width: 30px;
    height: 100%;
}

#enfase {
    color: rgb(255, 183, 50);
}

